@import "components/abstracts";
@import "components/fonts";

@import "pages/moving";
@import "pages/cards";
@import "pages/miles";
@import "pages/peter";

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
}

section {
  position: relative;
  height: 98rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.panel {
  height: 98rem;
  position: sticky;
  /* top: 10%; */
  margin: 0 auto;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 192rem;
  min-height: 98rem;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.pSection {
  position: relative;
  width: 192rem;
  height: 98rem;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 107rem;
  position: relative;
  z-index: 1;
}

.pContent {
  color: white;
}

.pImage {
  position: absolute;
  top: -18%;
  right: 10%;
  max-height: 90rem;
}

.story {
  background-color: #141414;

  &__img {
    width: 81rem;
  }
}

.gwen {
  background-image: url(../img/ch-gwen.jpg);
}

.peni {
  background-color: #000f3d;
}
.Ham {
  background-color: #000;
}

@media (max-width: 1338px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 7px;
  }
  // .gnb {
  //   height: 10rem;
  // }
}

@media (max-width: 662px) {
  html {
    font-size: 5px;
  }
  // .gnb {
  //   height: 10rem;
  // }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
  // .gnb {
  //   height: 10rem;
  // }
}

@media (max-width: 380px) {
  html {
    font-size: 4px;
  }
  // .gnb {
  //   height: 10rem;
  // }
}
