.header {
  .gnb {
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 999;
    width: 192rem;
    width: 100vw;
    height: 7rem;
    padding: 0 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color--black;

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 2.7rem;
        margin-right: 0.6rem;
      }
      h4 {
        font-size: 4rem;
        color: $color--primary-red;
      }
    }
    &__right {
      ul {
        width: 37rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          list-style: none;
          font-size: 1.6rem;
          color: $color--gray;
          font-weight: 800;
          // border-bottom: 2px solid transparent;

          &:hover {
            color: $color--primary-red;
            cursor: pointer;
            transition: color 0.3s;
            // border-bottom: 2px solid $color--primary-red;
            // transition: border-bottom 0.3s ease;
            &::after {
              width: 100%;
              //transition: width .3s;
            }
          }
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $color--primary-red;
            transition: width 0.2s;
          }
        }
      }
    }
  }

  &__video {
    width: 192rem;
    height: 98rem;
    position: absolute;
    z-index: -1;
    background: url(../img/story-video.mp4);
  }

  &__txt {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 10%;
  }
}

.story {
  width: 192rem;
  padding: 0 20rem;
  background-color: $color--deep-gray;
  display: flex;
  justify-content: space-between;

  &__img {
    width: 81rem;
  }

  &__left {
    h3 {
      margin-bottom: 2rem;
    }
    margin-top: -4rem;
  }

  &__right {
    margin-right: 12rem;
    margin-top: 6rem;

    h5 {
      margin-bottom: 3rem;
    }
    p {
      line-height: 1.4;
    }
  }

  &__button {
    button {
      background-color: transparent;
      border: 1px solid $color--primary-red;
      color: $color--primary-red;
      width: 18rem;
      height: 5rem;
      border-radius: 1.8rem;
      font-size: 1.6rem;
      margin-top: 4rem;
      margin-right: 0.4rem;
      font-weight: bold;
      cursor: pointer;

      // :hover {
      //   background-color: $color--white;
      //   opacity: 0.4;
      // }
    }
  }
}

.bg-text-container {
  position: absolute;
  z-index: -999;
}

@keyframes text-scrolling {
  0% {
    transform: translate3d(-80%, 0, 0);
  }
  100% {
    transform: translate3d(10%, 0, 0);
  }
}
@keyframes text-scrolling2 {
  0% {
    transform: translate3d(80%, 0, 0);
  }
  100% {
    transform: translate3d(10%, 0, 0);
  }
}

// .animate-text {
//   animation: text-scrolling 20s linear infinite;
//   will-change: transform;
//   display: block;
//   position: relative;
//   white-space: nowrap;

//   &--left {
//     animation: text-scrolling2 20s infinite;
//     will-change: transform;
//     display: block;
//     position: relative;
//     white-space: nowrap;
//   }
// }

span {
  font-family: "Bangers", cursive;
  font-size: 24rem;
  color: #333333;
  text-transform: uppercase;
  display: inline-block;
  min-width: auto;
  font-weight: 800;
  letter-spacing: 2;
}
.txtroll_r {
  position: absolute;
  animation: text-scrolling 30s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
  margin-top: 70rem;
  // background-color: beige;
}
.txtroll_l {
  position: absolute;
  animation: text-scrolling2 30s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
  // background-color: green;
  margin-top: -4rem;
}
