.header {
  .gnb {
    position: absolute;
    z-index: 999;
  }

  &__video {
    width: 192rem;
    height: 98rem;
    position: absolute;
    z-index: -1;
    background: url(../img/story-video.mp4);
  }

  &__txt {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}
