.miles {
  background-color: $color--primary-blue;
  position: relative;
  z-index: -2;

  &__txtbox {
    position: absolute;
    top: 64%;
    left: -24%;

    // h2 {
    //   margin-bottom: -1.6rem;
    // }
  }
}
