canvas {
  position: absolute;
}

.peter {
  background-color: #0033cc;
  position: relative;

  #c {
    width: 192rem;
    height: 98rem;
  }

  &__box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
  }
  h2 {
    position: absolute;
    z-index: 5;
    left: 10%;
  }
  &__img1 {
    position: absolute;
    z-index: 2;
    top: 14%;
    left: 10%;
    width: 65.6rem;
  }
  &__img2 {
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 20%;
    width: 100.8rem;
  }
  &__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../img/gra.png);
    top: 0;
    left: 0;
  }
}
