$color--white: #ffffff;
$color--light-gray: #bbbbbb;
$color--gray: #888888;
$color--dark-gray: #333333;
$color--deep-gray: #141414;
$color--black: #000000;
$color--primary-red: #ff0033;
$color--primary-blue: #003399;

@mixin bgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
