@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  font: inherit;
  font-family: "Bangers", cursive;
  color: $color--white;
}

h5,
h6,
li,
a,
button {
  font-family: "Gothic A1", sans-serif;
}
h2 {
  // text-shadow: 1px 1px 3px black;
  z-index: 5;
  font-size: 12rem;
  font-weight: 400;
}
h3 {
  color: #ff0033;
  font-size: 6.8rem;
}
