@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
}
h2 {
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 5;
  font-size: 120px;
  font-weight: 400;
}
h3 {
  color: #ff0033;
  font-size: 68px;
}
